<h3>Menu</h3>
<div id="entry">
	<table>
	<thead>
		<td>Nazwa:</td>
		<td>Składniki:</td>
		<td>Cena:</td>
	</thead>
	<tbody>
	
		<tr ng-repeat="pizza in Menu">
			
			<td>
			<div>{{pizza.name}}</div>
			</td>
			<td width="250">
			<div ng-repeat="skl_id in pizza.ingredients track by $index">

				<div ng-repeat="i in Ingredients track by $index" style="position: relative; float: left;">

					<span ng-if="skl_id == i.id">{{i.label}}, </span>

				</div>

			</div>
			</td>
			<td>
			<p>{{pizza.price}}</p>
			</td>
	</td>
		</tr>
		</tbody>
	</table>
</div>